* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #222;
}

.cards {
  width: 90%;
  max-width: 470px;
  background-color: linear-gradient(135deg, #00feba, #5b548a);
  color: white;
  margin: 100px auto 0;
  border-radius: 20px;
  text-align: center;
  padding: 40px 35px;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  color: #555;
  background-color: #ebfffc;
}
